* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  text-align: center;
  margin: 10rem;
}

input {
  padding: 10px;
  font-size: 15px;
  width:  40rem;
  border-radius: 15px;
  border-style: ridge;
  box-shadow: 1px 1px 2px black;
}

button {
  padding: 12px 15px;
  margin: 10px;
  font-size: 14px;
  border-radius: 20px;
}

section {
  text-align: center;
  margin: 10rem;
  box-shadow: 1px 1px 2px back;
  border-radius: 15px;
}

.content, .date {
  margin: 5rem;
  font-size: 15px;
}

ul {
  margin: 2rem;
}

li {
  list-style: none;
  margin: 5px;
  font-size: 15px;
}

/*modifier*/

.few-clouds {
  background-image: url(https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.clear-sky {
  background-image: url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.overcast {
  background-image: url(https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.scattered {
  background-image: url(https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.light-rain {
  background-image: url(https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}